*{ box-sizing: border-box; }
.hide{display: none;}
.blur{-webkit-filter: blur(5px);}
.fadeOut{opacity: 0;}
.unselectable{pointer-events: none;}

body, html{
	width: 250px;
	height: 350px;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	font-family: iowan old style, athelas, Georgia, serif
}
footer, header{
	position: absolute;
	width: 250px;
	bottom: 0;
	height: 24px;
	left: 0;
	z-index: 100;
}
footer{background-color: #444444; text-align: center;}
header{top: 0; text-align: right;}
ul{
	-webkit-padding-start: 0;
	margin-top: 0;
	padding: 24px 0;
	overflow-y: scroll;
	height: 326px;
	text-align: center;
	background-image: linear-gradient(transparent, #343434 25%);
	transition: -webkit-filter 0.6s ease;
	-webkit-filter: blur(0px);
}
li{list-style: none; border-radius: 2px;}

li > a {
	pointer-events: none;
	color: #FEFEFA;
	text-decoration: none;
	border-bottom: 1px solid #343434;
	display: block;
	padding-bottom: 3px;
}

sub{
	font-size: 12.8px;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	font-style: italic;
	color: #F0F8FF;
	font-weight: 400;
}

.login{
	position: absolute;
	background-image: linear-gradient(transparent, rgba(52,52,52,0.8) 25%);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #FEFEFA;
	z-index: 10;
	text-align: center;
	padding-top: 24px;
}

label{
	display: block;
	width: 100%;
	border-top: 1px dashed #444;
}

label > sub{
	display: inline-block;
	width: 30%;
}

label > input{
	background: none;
	border: 0;
	border-left: 1px dashed #444;
	padding-left: 10px;
	color: #FEFEFA;
	height: 40px;
}
.error_msg{
	font-style: italic;
	color: #DA2C43;
	font-size: 13px;
}

::-webkit-input-placeholder{
   color: #009E60;
   font-style: italic;
   font-size: 0.9em;
   margin-left: 1em;
}

.instructions{
	margin: 16px;
	padding: 16px;
	text-align: left;
	line-height: 24px;
	background-color: #FEFEFA;
	color: #343434; 
}

.remove_link{
	border: none;
	border-top: 1px solid #444;
	background: transparent url(./delete.svg) center center no-repeat;
	width: 24px;
	height: 20px;
	position: absolute;
	top: 40px;
	right: 36px;
}

.new_link{
	height: 100px;
	width: 100px;
	margin: 8px 8px 0 0;
	display: inline-block;
	background-color: #444;
	position: relative;
	transition: opacity 0.6s ease;
}

ul > li.new_link:nth-child(5n + 2){
	background-color: #009E60;
}
ul > li.new_link:nth-child(5n + 3){
	background-color: #E0115F;
}
ul > li.new_link:nth-child(5n + 4){
	background-color: #0087BD;
}
ul > li.new_link:nth-child(5n + 5){
	background-color: #DA2C43;
}

.big_num{
	display: block;
	color: #FEFEFA;
	font-style: italic;
	font-size: 20px;
	background-color: #343434;
	width: 55px;
	height: 55px;
	border-radius: 55px;
	margin: 0 auto;
	line-height: 40px;
	margin-top: 8px;
	margin-bottom: 3px;
}

#blanket{
	z-index: 12;
	background-image: linear-gradient(transparent, rgba(52, 52, 52, 0.8) 25%);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#limit, #wait{
	margin: 60px 16px;
	background-color: #FEFEFA;
	border-radius: 2px;
	padding: 4px 6px 10px 6px;
}

#wait p, #limit p{
	-webkit-margin-before: 0;
}

#dismiss{
	border: none;
	margin-left: 85px;
	background: transparent url(./delete.svg) center center no-repeat;
	width: 24px;
	height: 20px;
}

.progress-button{
	width: 50%;
	display: inline-block;
	text-align: left;
	float: left;
	position: relative;
}

svg{
	position: absolute;
	top: 2px;
	left: 2px;
}

.cross, .checkmark{
	transition: transform 1s ease;
	transform: scale(0.0);
}
#progress_circle{
	animation: progress 3s ease-in-out infinite;
	animation-play-state: paused;
}

.loading #progress_circle{
	animation-play-state: running;
}

.success .checkmark{
	transform: scale(0.7);
}

.error .cross{
	transform: scale(0.7);
}

@keyframes progress {
   from { stroke-dashoffset: 1000; }
   to   { stroke-dashoffset: 0; }
}